@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  @apply font-sans;
}


.highlighted-section {
  outline: 2px solid #3F20FB;
  background-color: rgba(63, 32, 251, 0.1);
}

.edit-button {
  position: absolute;
  z-index: 1000;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}